<div class="page page-current unamePage">
    <div>
        <header class="bar bar-nav">
            <a class="icon icon-left pull-left open-panel" ui-sref="info"></a>
            <h1 class='title'>修改用户名</h1>
        </header>
        <div class="content">
            <div class="list-block contacts-block" submit-form>
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input name="uname" type="text" ng-model="infoData.username" required>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <p><a href="#" class="button button-fill button-big" ui-sref="info">修改</a></p>
            </div>
        </div>
    </div>
</div>
